.texto1 {
  
    font-family: "Roboto", sans-serif;
    font-size: medium;
    color:rgb(51, 75, 97);
   
    

}


.texto2 {
    font-family: "Roboto", sans-serif;
    font-size: xx-large;
    color:rgb(51, 75, 97);
    
}
   

.description {
    font-family: "Roboto", sans-serif;
    font-size: large;
    color:rgb(161, 161, 161);
   

}

.btn1 {
    
width: 400px;
border: 1px solid rgb(51, 75, 97);
border-radius: 30px;
padding: 20px;
margin-top: 50px;

font-size: 16px;
color: rgb(51, 75, 97);

display: flex;
align-items: center;
justify-content: center;

}


   

